@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: #020617;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}